/* Global Styles */

body {
	margin:0px;
	}
	
td {
	color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}
	
a {
	color: #FF6600;
	font-weight:bold;
	}
	
a:hover {
	color: #3366CC;
	}
.line {
	border: 1px dashed #999999;
}


/* ID Styles */

#navigation td {
	border-bottom: 2px solid #C0DFFD;
	}
	
#navigation a {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 26px;
	background: url("mm_arrow.gif") 14px 45% no-repeat;
	}
	
#navigation a:hover {
	background: #ffffff url("mm_arrow.gif") 14px 45% no-repeat;
	color:#FF6600;
	}
	
#logo 	{
	font:24px Verdana, Arial, Helvetica, sans-serif;
	color: #CCFF99;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color: #FF9933;
	letter-spacing:.4em;
	line-height:18px;
	}

#monthformat {
	border-bottom: 2px solid #E6F3FF;
		}
		
#dateformat {
	color: #FFFFFF;
	letter-spacing:.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-left: 5px;
	}
	
#dateformat a {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-weight:bold;
	letter-spacing:.1em;
	}
	
#dateformat a:hover {
	color: #FF6600;
	letter-spacing:.1em;
	}
	
/* Class Styles */
	
.bodyText {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
	line-height:20px;
	margin-top:0px;
	}
	
.pageName{
	font: 18px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:24px;
	letter-spacing:.2em;
	}
	
.subHeader {
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:16px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	}
	
.navText {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
.word_gray {
	font-family: "新細明體";
	font-size: 12px;
	line-height: 18px;
	color: #666666;
}
.word_green {
	font-family: "新細明體";
	font-size: 12px;
	color: #5E6831;
}

.title_02 {
	font-family: "新細明體";
	font-size: 12px;
	color: #E64D4D;
	font-weight: normal;
}
.hotel_title {
	font-family: "新細明體";
	font-size: 12px;
	color: #003366;
}

.word_lightgray {
	font-family: "新細明體";
	font-size: 12px;
	color: #999999;
}
.word_purple {
	font-family: "新細明體";
	font-size: 12px;
	color: #5A475F;
}
